# Program-1

In [14]:
n=int(input())
m=int(input())
for num in range(n,m+1):
    c=0
    s=0
    for i in str(num):
        s+=int(i)
    for j in range(1,s+1):
        if s%j==0:
            c+=1
    if c==2:
        print(num,end=' ')

1
10
2 3 5 7

# Program-2

In [7]:
print("\n 1. Chicken Biryani--->150 \n 2. Mutton Biryani--->180 \n 3. Panneer Biryani--->120 \n 4. Mushroom Biryani--->130 \n 5. Coke--->20 \n")
total=0
n=1
while(n>0):
    s=int(input("Enter item no:"))
    cost=0
    if(s==1):
        q=int(input("Enter no. of plates:"))
        cost=q*150
        total+=cost
        print("\nChicken Biryani - 150 *",q,"-->",cost)
    elif(s==2):
        q=int(input("Enter no. of plates:"))
        cost=q*180
        total+=cost
        print("\nMutton Biryani - 180 *",q,"-->",cost)
    elif(s==3):
        q=int(input("Enter no. of plates:"))
        cost=q*120
        total+=cost
        print("\nPanner Biryani - 120 *",q,"-->",cost)
    elif(s==4):
        q=int(input("Enter no. of plates:"))
        cost=q*130
        total+=cost
        print("\nMushroom Biryani - 130 *",q,"-->",cost)
    elif(s==5):
        q=int(input("Enter no. of plates:"))
        cost=q*30
        total+=cost
        print("\nCoke - 30 *",q,"-->",cost)
    else:
        break
print("Total --->",total)

 1. Chicken Biryani--->150
 2. Mutton Biryani--->180
 3. Panneer Biryani--->120
 4. Mushroom Biryani--->130
 5. Coke--->20

Enter item no:1
Enter no. of plates:2

Chicken Biryani - 150* 2 --> 300
Enter item no:2
Enter no. of plates:3

Mutton Biryani - 180* 3 --> 540
Enter item no:0
Total ---> 840

# Strings
- **' '/" "**
- Example "a",'word'
- **str(345634789345)**
    - Converts integer to string
- **index is the representation of each character in string**

# String Slicing
- **accessing particular piece of data fron string**
    - using index (lower,upper)
- **forward indexing**
    - 0 to len(str)-1
- **Backward indexing**
    - 1 to infinite

In [13]:
n='sowmya'
n[-4]

'w'

In [12]:
n[0:4]

'sowm'

In [15]:
n[0]

's'

In [18]:
n[::2] # for printing the letters with gap

'swy'

In [21]:
n[::1]

'sowmya'

In [22]:
n[::-1]

'aymwos'

In [20]:
n[::-2]

'amo'

# String Methods

In [8]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

# Program-3

In [44]:
n=input()
#print(n.count(p)) # count is a keyword
c=0
for word in n:
    if n=="and":
        c+=1
print(c)

and and
0

# Program-4

In [9]:
for word in "i am sowmya".split():
    print(word)
    for ch in word:
        print(ch)

i
i
am
a
m
sowmya
s
o
w
m
y
a

# Program-5

In [45]:
s=input()
if s[0][0]=="c" and s[-1][-1]=="o": #if n.startswith("c") and n.endwith("o"):
    print("Yes")
else:
    print("No")

coosoeddo
Yes

# Program-6

In [50]:
n=int(input())
p=input().split()[:n]
s=0
for num in p:
    s+=int(num[1])
print(s)

2
123 234
5

# Program-7

In [59]:
def prime(a):
    c=0
    for i in range(2,a):
        if a%i==0:
            c+=1
    return c
n=input().split()
for num in n:
    m=prime(int(num))
    if m==0:
        print(num,end=' ')

11 21 31 97 43
11 31 97 43

# Program-8

In [5]:
n=input() #ch='AEIOUaeiou'
def up(n):
    print("\nUppercase vowels:",end=' ')
    for num in n:
        # if num in ch:
        if num in ('A','E','I','O','U'): # if num.isupper()
            print(num,end=' ')
def lo(n):
    print("\nlowercase vowels:",end=' ')
    for num in n:
        # if num in ch:
        if num in ('a','e','i','o','u'):# if num.islower()
            print(num,end=' ')
lo(n)
up(n)

I am StUDent vIgNAn

lowercase vowels: a e
Uppercase vowels: I U I A

# Program-9

In [7]:
n=input()
s=0
for i in range(0,len(n)):# for i in n:
    s+=int(n[i])#s+=int(i)
print(s)

123
6

# Program-10

In [8]:
n=input()
c=0
c0=0
for i in n:
    if i.isalpha():
        c+=1
    if i.isdigit():
        c0+=1
print(c)
print(c0)

19fe1a0570
3
7

# Program-11

In [15]:
p=int(input())
l=int(input("Enter length"))
for i in range(p):
    n=input().split()
    if (int(n[0])<l or int(n[1])<l):
        print("Upload photo")
    else:
        if int(n[0])==l and int(n[1])==l:
            print("Accepted")
        else:
            print("Crop it")

3
Enter length180
640 420
Crop it
180 180
Accepted
120 300
Upload photo

# Data Structures
- **List**
    - list is mutable

- **Tuple**
    - tuple not mutable


- **Dictionary**

- **Sets**
    - duplicate elements are not allowed

# Program-12

In [19]:
li=[]
print(li)
print(type(li))

[]
<class 'list'>

In [20]:
li=[2,3.3,"python",'apple',"I am here"]
li

[2, 3.3, 'python', 'apple', 'I am here']

In [21]:
li[2]

'python'

In [22]:
li[-1]

'I am here'

In [23]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

# Program-13

In [26]:
p=[21,23,56,78,59]
print(min(p))
print(max(p))
print(sum(p))
print(sorted(p))
print(len(p))
p.insert(1,22)
i=p.copy()
print(i)

21
78
237
[21, 23, 56, 59, 78]
5
[21, 22, 23, 56, 78, 59]

# Program-14

In [39]:
k=[22,34,[346,279],345,66]
print(k[2][1])

279

# Program-15

In [40]:
n=[34,12,45,12,34,56,89]
p=[]
for i in n:
    if i not in p:
        p.append(i)
print(p)

[34, 12, 45, 56, 89]

# Program-16

In [47]:
n=[34,12,45,12,12,56,89]
p=[]
for i in n:
    if n.count(i)==1:
        p.append(i)
print(p)

[34, 45, 56, 89]

# Program-17

In [51]:
n=[1,2,3,4,5]
s=0
for i in n:
    s+=i
print(s)

15

In [ ]:
n=[1,2,3,4,5]